/Proyecto 1/OLC_Proyecto1_201900042/nbproject/private/
/Proyecto 1/OLC_Proyecto1_201900042/build/
/Proyecto 1/OLC_Proyecto1_201900042/dist/
/Proyecto 1/JavaApplication8/nbproject/private/
/Proyecto 1/JavaApplication8/build/
